/* General Styles */

body * {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    /*this is a temporary color so i can read until i finish the styles*/
     color: var(--header-text); 
     /*and a temporary background until i finish the styles and find an image*/
     background-color: var(--dropdown-border); 
}

a {
    color: var(--header-text);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, img, p {
    margin: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}


/* Header */

.header {
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 1em;
    background-color: var(--head-foot-background);
    color: var(--header-text);
}

header {
    flex: 1;
    min-width: 10em;
    max-width: 15em;
    margin: 1em;
}

nav {
    flex: 3;
    margin-left: auto;
}

nav ul {
    flex-flow: row wrap; 
    justify-content: space-around;
    align-content: center;
}

nav li {
    color: white;
    background-color: var(--main-background);
    margin: 2em;
}

nav a {
     padding: 1.5em; 
     /*done this way so that the clickable area takes up the entire box */
}


nav li:hover {
    filter: brightness(105%)
    /* To highlight the box on hover */
}

/* Main Body */

section {
    flex-flow: row wrap;
}

.about, .projects, .contact {
    margin: 0.5em;
}

.left-column {
    flex: 1;
    background-color: var(--main-background);
    margin-right: 0.5em;
}

.right-column {
    flex: 3;
    background-color: var(--body-background);
    color: var(--body-text);
    margin-left: 0.5em;
}

/* About Me */

.about {
    margin-top: 1em;
}

.about > .left-column {
    flex-flow: row wrap;
}

.about h2 {
    flex: 1;
}

.about img { 
    border-radius: 50%;
    width: 7.5em;
    height: 7.5em;
    object-fit: cover;
    border: 0.25em white solid;
    margin: 2em 4em 2em 2em;
}

/* Deployed Projects */

.projects > .right-column {
    display: flex;
    background: none;
    flex-flow: row wrap;
    justify-content: left;
}

.first {
    display: flex;
    position: relative;
    background: var(--body-background);
    margin: 0.5em;
    width: fit-content;
    flex-flow: row wrap;
    padding: 0.5em;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.first img {
    width: 50em;
    object-fit: cover;
}

.card {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background: var(--body-background);
    margin: 0.5em;
    width: fit-content;
    padding: 0.5em;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 30em;
    object-fit: cover;
}

.notes {
    filter: brightness(0.85)
}

.dropdown {
    display: none;
    position: absolute;
    border: 5px var(--dropdown-border) solid;
    padding: 0.5em;
    top: 100%;
    z-index: 1;
    background-color: var(--body-background);
    color: var(--body-text);
    text-align: center;
}

.trigger a {
    color: var(--body-text);
}

.trigger:hover + .dropdown {
    display: flex;
}

.trigger:hover {
    filter: brightness(1.05);
}

/* Contact Me */

.contact .right-column ul{
    display: flex;
    flex-flow: row wrap;
}

.contact .right-column li {
    flex: 1;
    text-align: center;
}

.contact li a {
    margin: 0.5em;
    color: var(--main-background);
}

.contact li a:hover {
    color: darkslategray;
}

/* For smaller screens */

@media only screen and (max-width: 1010px) {
    nav {
        flex-basis: 50%;
        flex-flow: column wrap;
        justify-content: center;
    }

    nav ul {
        flex-flow: column wrap;
    }

    nav li {
        text-align: center;
        margin: 1em;
    }
}

/* And even smaller screens */

 @media only screen and (max-width:/* T.B.D. */) { 
    /* code coming soon */
}

/* These are variables for easy switching of colors */

:root {
    --head-foot-background: darkslategray;
    --main-background: darkcyan;
    --body-background: white;
    --header-text: white;
    --body-text: darkslategray;
    --dropdown-border: rgb(14, 43, 54);
}